$main: #3778c2;
$second: #5fb523;
$text: #434b54;

.exp-container {
  padding: 1rem;

  a {
    text-decoration: none;
  }

  .exp-card-cont {
    margin-bottom: 1rem;
    background-color: orange;
    color: white;

    h2 {
      margin: 0;
    }

    .exp-title {
      font-family: 'nova-proxima-bold';
      font-size: 2rem;
    }
  }
}

.total-exp {
  border: solid 1px $second;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  .exp-title {
    font-family: 'nova-proxima-bold';
    font-size: 2rem;
  }
}