$main: #3778c2;
$second: #5fb523;
$text: #434b54;

.index-cat {
  background-color: $main;
  padding: 1rem;

  .title {
    color: white;
    font-size: 1.7rem;
  }

  i {
    color: white;
    font-size: 2rem;
  }

  .ul-nav {
    display: flex;
    align-items: center;
  }

  // .coll-container {
  //   margin: 0.7rem 0;
  // }

  // .first {
  //   margin-top: 1rem;
  // }

  .nav-cat-link {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .log-out-btn {
    border: none;
    background-color: transparent;
    font-family: 'nova-proxima-light';
    color: white;
    padding: 0;
    font-size: 1.8rem;
  }
}

.no-cat {
  text-align: center;
  font-size: 3rem;
}