$main: #3778C2;
$second: #5FB523;
$text: #434B54;
$body-form-bg: #F5F6F8;

.new-sess {
  background-color: $body-form-bg;
  height: 100vh;
}

.login-title {
  background-color: $main;
  padding: 1rem 0.5rem;
  align-items: center;
  color: white;
  margin-bottom: 2rem;

  a {
    i {
      font-size: 3rem;
      color: white;
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  input {
    background-color: transparent;
    border: none;
    color: white;
  }
}

.login-form {
 background-color: white;
 border-top: solid 1px rgb(209, 209, 209);
 border-bottom: solid 0.1px rgb(209, 209, 209);

 .bot-bor {
  input {
    border-bottom: solid 0.1px rgb(209, 209, 209);
  }
}

 input {
  border: none;
  padding: 1rem;
  width: 100%;
 }
}

.pass-login {
  text-align: center;
  margin-top: 2rem;

  a {
    color: $text;
    text-decoration: none;
  }
}