 <% if user_signed_in?%>
 <header class='container d-flex justify-content-between align-items-center index-cat'>
    <%= render 'shared/dropdown_menu' %>
    <h1 class='mb-0 title'>HOME</h1>
    <i class="fa-solid fa-magnifying-glass"></i>
  </header>
<% end %>
<p style="color: green"><%= notice %></p>
<main class='container home-main d-flex'>
  <img src="<%=asset_path("logo/logo-color.png")%>" alt="Logo">
</main>
<% unless user_signed_in?%>
  <%= render 'shared/splash_nav' %>
<% end %>