<div class='new-sess'>
  <header class='container d-flex justify-content-between align-items-center index-cat'>
    <%= render 'shared/dropdown_menu' %>
    <h1 class='mb-0 title'>EXPENDITURES</h1>
    <i class="fa-solid fa-magnifying-glass"></i>
  </header>

  <main class='container'>

    <p style="color: green"><%= notice %></p>

    <%= render "form", expenditure: @expenditure %>

    <div class='sub-cat-cont'>
      <%= link_to "Back to expenditures", expenditures_path, class: 'btn btn-outline-secondary' %>
    </div>
  </main>
</div>
