@import 'bootstrap';

@font-face {
  font-family: 'nova-proxima-bold';
  src: url('./fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('./fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-family: 'nova-proxima-light';
  src: url('./fonts/ProximaNovaA-Light.woff2') format('woff2'),
       url('./fonts/ProximaNovaA-Light.woff') format('woff');
}

// Box-sizing
html {
  box-sizing: border-box;
  font-size: 62.5%;  // 1rem = 10px
}
*, *:before, *:after {
  box-sizing: inherit;
}

$main: #3778C2;
$second: #5FB523;
$text: #434B54;

body {
  font-size: 1.6rem;
  font-family: 'nova-proxima-light', sans-serif;
  font-weight: 300;
}
